src/main/mule/testsqldemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8782eb94-f931-4289-9f0c-1c5fdfa8355b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="26c4ae42-bda6-48d8-8200-91ccff5745e3" >
		<db:my-sql-connection host="congo.c3w6upfzlwwe.us-west-1.rds.amazonaws.com" port="3306" user="mulesoft" password="mulesoft" database="congo"/>
	</db:config>
	<flow name="testsqldemoFlow" doc:id="0ac5111b-0b87-4fea-8ad8-8e3d226a3e05" >
		<http:listener doc:name="Listener" doc:id="5f2153bd-ab97-4a13-8478-9eb7393adc4a" config-ref="HTTP_Listener_config" path="/submit"/>
		<db:select doc:name="Select" doc:id="4b6952ff-34f9-4f5d-bc65-1cf475236186" config-ref="Database_Config">
			<db:sql >select * from contacts</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3f74ae9f-c6eb-4f26-b33d-1b64f4bb2f2e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e6bec3b3-0711-4feb-b2ec-101bf7c11e81" message="#[payload]"/>
	</flow>
</mule>
